/* Default stylesheet and tools */
body,
html {
	background: url('img/background.jpg') center center/cover no-repeat fixed;
	height: 100vh;
	width: 100vw;
    overflow-x: hidden;
}

#container {
	position: relative;
}

@media (max-width:960px) { 
}

#spotlight{
	width: 200px;
	height: 200px;
	background-color: rgb(233, 224, 224);
	border-radius: 75%;
	position:relative;
	transition: all 0.5s ease;
    opacity: 50%;
}

#uk {
	position: absolute; /* or 'absolute' if you prefer */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.25);
	display: none; /* Initially hidden, can be shown using JS */
  }
  